<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com//" target="_blank">@beingswapnil</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ellekasai" target="_blank">linkedin.com/in/swapnil</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://swapnilwaghmare.com/" target="_blank">swapnil.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:elle.kasai@gmail.com" target="_blank">swapnil.waghmare@gmail.com</a></p>
